# CONFIG_MTK_MBRAINK_MT6991 is not set
# CONFIG_MTK_MBRAINK_MT6989 is not set
# CONFIG_MTK_MBRAINK_MT6993 is not set
# CONFIG_MTK_MBRAINK_MT6899 is not set
# CONFIG_MTK_FLASHLIGHT_PPB is not set
# CONFIG_MTK_CM_MGR is not set
# CONFIG_ARM_FFA_TRANSPORT is not set
# CONFIG_MTK_PERF_IOCTL_MAGT is not set
# CONFIG_MTK_HWCCF is not set
CONFIG_MTK_QOS_LEGACY_V1=y
CONFIG_MTK_CM_MGR_LEGACY_V1=m
CONFIG_MTK_CM_MGR_MT6895=m
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_LPM_LEGACY=m
CONFIG_MTK_LPM_MT6895=m
CONFIG_MTK_LPM_GS_DUMP_SUPPORT=y
# CONFIG_MTK_C2PS is not set
# CONFIG_MTK_GEARLESS_SUPPORT is not set
# CONFIG_MTK_CPUQOS_EXT is not set
# CONFIG_MTK_LEAKAGE_HIT is not set
# CONFIG_MTK_SCHED_FAST_LOAD_TRACKING is not set
# CONFIG_MTK_SCHED_GROUP_AWARE is not set
# CONFIG_ARM64_AMU_EXTN is not set
CONFIG_DMABUF_LEGACY_TEST=y
CONFIG_MTK_MMDVFS_LEGACY=y
CONFIG_MTK_SWPM_PERF_ARMV8_PMU_LEGACY_V2=m
CONFIG_MTK_SWPM_MODULE_LEGACY_V2=m
CONFIG_MTK_SWPM_MT6895=m