# CONFIG_MTK_MMQOS_VCP is not set
# CONFIG_MTK_MMDVFS_VCP is not set
# CONFIG_MTK_MMINFRA_VCP is not set
CONFIG_INTERCONNECT_MTK_MMQOS_MT6789=m
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
# CONFIG_MTK_MMINFRA is not set
# CONFIG_MTK_TINYSYS_VCP_SUPPORT is not set
# CONFIG_MTK_MML is not set
CONFIG_MTK_QOS_LEGACY_V1=y
CONFIG_MTK_MML_LEGACY=m
CONFIG_MTK_LPM_LEGACY=m
CONFIG_MTK_LPM_MT6789=m
CONFIG_MTK_LPM_GS_DUMP_SUPPORT=y
# CONFIG_MTK_DPC is not set
# CONFIG_MTK_FLASHLIGHT_PPB is not set
CONFIG_MTK_GPU_LEGACY=y
CONFIG_MTK_GPU_MT6789_SUPPORT=m
CONFIG_MTK_CAMERA_RSC_ISP6S=m
CONFIG_MTK_CAM_SECURE_FD_SUPPORT=m
# CONFIG_COMMON_CLK_MTK_FREQ_HOPPING_GPUEB is not set
CONFIG_SND_SOC_MT6358_ACCDET=m
# CONFIG_MTK_CM_MGR is not set
CONFIG_MTK_CM_MGR_LEGACY_V1=m
CONFIG_MTK_CM_MGR_MT6789=m
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_COMBO_CHIP_CONSYS_6789=y
# CONFIG_MTK_CONN_LTE_IDC_SUPPORT is not set
# CONFIG_DEVICE_MODULES_SPMI_MTK_PMIF is not set
# CONFIG_MTK_MBRAINK_MT6991 is not set
# CONFIG_MTK_MBRAINK_MT6989 is not set
# CONFIG_MTK_MBRAINK_MT6993 is not set
# CONFIG_MTK_MBRAINK_MT6899 is not set
# CONFIG_MTK_MBRAINK_BRIDGE is not set
# CONFIG_MTK_MBRAINK is not set
# CONFIG_MTK_MBRAINK_PERF is not set
# CONFIG_MTK_C2PS is not set
# CONFIG_ARM_FFA_TRANSPORT is not set
# CONFIG_MTK_PERF_IOCTL_MAGT is not set
CONFIG_MTK_SWPM_PERF_ARMV8_PMU_LEGACY_V2=m
CONFIG_MTK_SWPM_MODULE_LEGACY_V2=m
CONFIG_MTK_SWPM_MT6789=m
# CONFIG_MTK_GEARLESS_SUPPORT is not set
# CONFIG_MTK_CPUQOS_EXT is not set
# CONFIG_MTK_LEAKAGE_HIT is not set
# CONFIG_MTK_SCHED_FAST_LOAD_TRACKING is not set
# CONFIG_MTK_SCHED_GROUP_AWARE is not set
# CONFIG_ARM64_AMU_EXTN is not set
CONFIG_DMABUF_LEGACY_TEST=y
CONFIG_MTK_MMDVFS_LEGACY=y
