CONFIG_OPLUS_DDK_MTK=y
CONFIG_OPLUS_CHARGER_MTK6789S=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="gc50f6_mipi_raw_cruiserl4 ov50d40_mipi_raw_cruiserl4 sc201cs_mipi_raw_cruiserl4 ov50d40_mipi_raw_24267 gc32e2_mipi_raw_24267 ov08d10_mipi_raw_24267 ov02b10_mipi_raw_24267 sc520cs_mipi_raw_main_fiji sc520cssub_mipi_raw_front_fiji"
#ifndef OPLUS_FEATURE_SECURITY_COMMON
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
#endif /* OPLUS_FEATURE_SECURITY_COMMON */
