CONFIG_OPLUS_DDK_MTK=y
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
CONFIG_REGULATOR_WL28681C=m
CONFIG_REGULATOR_WL2868C=m
CONFIG_DRM_PANEL_AC160_P_3_A0004_CMD_PANEL=m
CONFIG_DRM_PANEL_AC160_P_7_A0001_CMD_PANEL=m
CONFIG_DRM_PANEL_AC124_P_3_A0004_CMD_PANEL=m
CONFIG_DRM_PANEL_AC124_P_B_A0012_CMD_PANEL=m
CONFIG_MTK_CAMERA_LDO=m
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
