#ifdef OPLUS_FEATURE_OEM_OCDT
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
#endif /* OPLUS_FEATURE_OEM_OCDT */

CONFIG_OPLUS_DDK_MTK=y

#CONFIG_OPLUS_FEATURE_POWERMODEL=m
#CONFIG_OPLUS_FEATURE_POWERMODEL_CPU=m
#CONFIG_OPLUS_FEATURE_POWERMODEL_CPU_TASK=m
#CONFIG_OPLUS_FEATURE_POWERMODEL_GPU=m
#CONFIG_OPLUS_FEATURE_POWERMODEL_DSU=m

CONFIG_DRM_PANEL_AC180_P_3_A0020_DSI_CMD=m
CONFIG_DRM_OPLUS_DISPLAY_DSI_PRIMARY=m
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y

#ifndef OPLUS_FEATURE_SECURITY_COMMON
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
#endif /* OPLUS_FEATURE_SECURITY_COMMON */

# Add for oplus vow monitor
CONFIG_OPLUS_FEATURE_VOW_MONITOR=y
# Add for oplus rpmh monitor
CONFIG_OPLUS_RPMH_MTK=y

# Add for oplus vow custom payload
CONFIG_OPLUS_FEATURE_VOW_CUSTOM_PAYLOAD=y
