config MTK_MBRAINK_BRIDGE
	tristate "MTK MBRAINK BRIDGE support"
	help
	  MBRAINK BRIDGE is a MediaTek in-house kernel module which can
	  communicate with android MBrain.
	  Set Y to enable this feature.
	  If unsure, Set N to stay with legancy feature.
